{% load static wagtailuserbar %}

<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <title>{% block title %}{% if self.seo_title %}{{ self.seo_title }}{% else %}{{ self.title }}{% endif %}{% endblock %}{% block title_suffix %}{% endblock %}</title>
{#        <meta name="description" content="" />#}
{#        <meta name="viewport" content="width=device-width, initial-scale=1" />#}
        <meta name="keywords" content="">
        <meta name="description" content="">
        <meta name="author" content="">
        <meta name="copyright" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

        {# Global stylesheets #}
        <link rel="stylesheet" type="text/css" href="{% static 'common/css/angelproject.css' %}">
        <link href="{% static "bootstrap/css/bootstrap.css" %}" rel="stylesheet" type="text/css" media="all">
        <link rel="stylesheet" href="{% static "fontawesome463/css/font-awesome.min.css" %}">
        <script src="{% static "common/js/jquery-3.1.0.min.js" %}"></script>
        <link href="{% static "common/css/index.css" %}" rel="stylesheet" type="text/css" media="all">

        {% block extra_css %}
            {# Override this in templates to add extra stylesheets #}
        {% endblock %}

        {% block extra_head %}
            {# Override this in templates to add extra stylesheets #}
        {% endblock %}
    </head>

    <body class="{% block body_class %}{% endblock %}">
        {% wagtailuserbar %}

        {% block content %}{% endblock %}


      <div id="footer">
        <div id="copyright">COPYRIGHT © 2016 boMb01. ALL RIGHTS RESERVED.</div>
      <!-- /#footer --></div>
      <a id="back_to_top" title="回頁頂" style="display: inline;"></a>

        {# Global javascript #}
        <script type="text/javascript" src="{% static 'common/js/angelproject.js' %}"></script>

        {% block extra_js %}
            {# Override this in templates to add extra javascript #}
        {% endblock %}
    </body>
</html>
