{% extends "base.html" %}

{% load wagtailcore_tags wagtailimages_tags%}

{% block body_class %}template-postpage{% endblock %}

{% block content %}
    <h1>{{ page.title }}</h1>
    <p class="meta">{{ page.date }}</p>
    <article>
        {% for block in page.body %}
        <section>
            {% if block.block_type == "heading" %}
                <div class="post-heading">{{ block.value }}</div>
            {% elif block.block_type == "paragraph" %}
                <div class="post-paragraph">{{ block.value }}</div>
            {% elif block.block_type == "image" %}
                <div class="post-image-cover">{% image block.value width-400 %}</div> <!--TODO make image responsive -->
            {% elif block.block_type == "media" %}
                <div class="post-media">{{ block.value }}</div>
            {% else %}
            {% endif %}
        </section>
        {% endfor %}
    </article>
{% endblock %}

