{% load static from staticfiles %}

{% load wagtailimages_tags%}

<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="utf-8">
<meta name="keywords" content="">
<meta name="description" content="">
<meta name="author" content="">
<meta name="copyright" content="">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
<title></title>
<link href="{% static "postindexpage/css/bootstrap.css" %}" rel="stylesheet" type="text/css" media="all">
<link href="{% static "postindexpage/css/index.css" %}" rel="stylesheet" type="text/css" media="all">
<link rel="stylesheet" href="{% static "fontawesome463/css/font-awesome.min.css" %}">
<script src="{% static "postindexpage/js/jquery-3.1.0.min.js" %}"></script>
<script>
  $(function(){$.fn.scrollToTop=function(){$(this).hide().removeAttr("href");if($(window).scrollTop()!="0"){$(this).fadeIn("")}var scrollDiv=$(this);$(window).scroll(function(){if($(window).scrollTop()=="0"){$(scrollDiv).fadeOut("")}else{$(scrollDiv).fadeIn("")}});$(this).click(function(){$("html, body").animate({scrollTop:0},"")})}});$(function(){$("#back_to_top").scrollToTop();});
</script>
</head>
<body>
<div class="container border">
  <div class="logo_areas clearfix">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-3">
      <div id="logo">
        <a href="/"><img class="center_block img-responsive" src="{% static "postindexpage/img/logo.png" %}"></a>
      <!-- /#logo --></div>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-9">
      <div class="text-center hidden-xs">
        <img class="adv" src="{% static "postindexpage/img/img-ad.png" %}">
      <!-- /.text-center --></div>
    </div>
  <!-- /.logo_areas --></div>
  <div id="wrapper">
    <div class="toppic_path clearfix">
      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
        <ol class="breadcrumb">
          <li><a href="#"><span class="glyphicon glyphicon-flash"></span>最新</a></li>
        </ol>
      </div>
    <!-- /.toppic_path --></div>
{#    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">#}
{#      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">#}
{#        <p class="photo"><a href="#"><img class="center_block img-responsive img-rounded" src="{% static "postindexpage/img/29287.jpg" %}"></a></p>#}
{#        <h2 class="grid margin20"><a href="#">菲律賓總統說到做到「允許警察隨街射殺吸毒嫌疑犯」，任由媒體拍攝的街道景象比地獄還讓人恐懼！</a></h2>#}
{#        <p class="time pull-left"><span class="glyphicon glyphicon-time"></span> 2016-07-30 </p>#}
{#      </div>#}
{#      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">#}
{#        <p class="photo"><a href="#"><img class="center_block img-responsive img-rounded" src="{% static "postindexpage/img/29287.jpg" %}"></a></p>#}
{#        <h2 class="grid margin20"><a href="#">菲律賓總統說到做到「允許警察隨街射殺吸毒嫌疑犯」，任由媒體拍攝的街道景象比地獄還讓人恐懼！</a></h2>#}
{#        <p class="time pull-left"><span class="glyphicon glyphicon-time"></span> 2016-07-30 </p>#}
{#      </div>#}
{#      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">#}
{#        <p class="photo"><a href="#"><img class="center_block img-responsive img-rounded" src="{% static "postindexpage/img/29287.jpg" %}"></a></p>#}
{#        <h2 class="grid margin20"><a href="#">菲律賓總統說到做到「允許警察隨街射殺吸毒嫌疑犯」，任由媒體拍攝的街道景象比地獄還讓人恐懼！</a></h2>#}
{#        <p class="time pull-left"><span class="glyphicon glyphicon-time"></span> 2016-07-30 </p>#}
{#      </div>#}
{#      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">#}
{#        <p class="photo"><a href="#"><img class="center_block img-responsive img-rounded" src="{% static "postindexpage/img/29287.jpg" %}"></a></p>#}
{#        <h2 class="grid margin20"><a href="#">菲律賓總統說到做到「允許警察隨街射殺吸毒嫌疑犯」，任由媒體拍攝的街道景象比地獄還讓人恐懼！</a></h2>#}
{#        <p class="time pull-left"><span class="glyphicon glyphicon-time"></span> 2016-07-30 </p>#}
{#      </div>#}
{#      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">#}
{#        <p class="photo"><a href="#"><img class="center_block img-responsive img-rounded" src="{% static "postindexpage/img/29287.jpg" %}"></a></p>#}
{#        <h2 class="grid margin20"><a href="#">菲律賓總統說到做到「允許警察隨街射殺吸毒嫌疑犯」，任由媒體拍攝的街道景象比地獄還讓人恐懼！</a></h2>#}
{#        <p class="time pull-left"><span class="glyphicon glyphicon-time"></span> 2016-07-30 </p>#}
{#      </div>#}
{#      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">#}
{#        <p class="photo"><a href="#"><img class="center_block img-responsive img-rounded" src="{% static "postindexpage/img/29287.jpg" %}"></a></p>#}
{#        <h2 class="grid margin20"><a href="#">菲律賓總統說到做到「允許警察隨街射殺吸毒嫌疑犯」，任由媒體拍攝的街道景象比地獄還讓人恐懼！</a></h2>#}
{#        <p class="time pull-left"><span class="glyphicon glyphicon-time"></span> 2016-07-30 </p>#}
{#      </div>#}
{#    </div>#}

    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        {% for post in paginated_posts %}
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
{#            <p class="photo"><a href="{{ post.url }}"><img class="center_block img-responsive img-rounded" src="{% static "postindexpage/img/29287.jpg" %}"></a></p>#}
            <p class="photo"><a href="{{ post.url }}" target="_blank">{% image post.post_cover width-400 class="center_block img-responsive img-rounded"%}</a></p>
            <h2 class="grid margin20"><a href="{{ post.url }}" target="_blank">{{ post.title }}</a></h2>
        </div>
        {% endfor %}
    </div>

    <div class="text-center">
        <div class="pagination btn-group">
            <span class="step-links">
                {% if paginated_posts.has_previous %}
                    <a href="?page={{ paginated_posts.previous_page_number }}">PREVIOUS</a>
                {% endif %}
                <span class="current">
                    {{ paginated_posts.number }} of {{ paginated_posts.paginator.num_pages }}
                </span>
                {% if paginated_posts.has_next %}
                    <a href="?page={{ paginated_posts.next_page_number }}">NEXT</a>
                {% endif %}
            </span>
        </div>
    </div>

    <div class="btn-group">
        <a class="btn btn-default" href="#">
            <i class="fa fa-align-left" title="Align Left"></i>
        </a>
        <a class="btn btn-default" href="#">
            <i class="fa fa-align-center" title="Align Center"></i>
        </a>
        <a class="btn btn-default" href="#">
            <i class="fa fa-align-right" title="Align Right"></i>
        </a>
    </div>

  <!-- /#wrapper --></div>
  <div id="footer">
    <div id="copyright">COPYRIGHT © 2016 boMb01. ALL RIGHTS RESERVED.</div>
  <!-- /#footer --></div>
  <a id="back_to_top" title="回頁頂" style="display: inline;"></a>
<!-- /.container --></div>
</body>
</html>
